{
  "presets": ["env", "stage-0"],
  "plugins": [
    "transform-class-properties",
    "transform-decorators",
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ]
}
